<%- include('../includes/head.ejs') %>
 <link rel="stylesheet" href="/css/image-modal.css" />
 <link rel="stylesheet" href="/css/rating.css" /> 
  
  </head>
    <body>
          <%- include('../includes/navigation.ejs') %>
             <div class="container" style="margin-bottom: 100px;">

      <div class="row">

      <div class="col-lg-3">

          <h1 class="my-4">Categories</h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <a class="btn collapsed" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="true" aria-controls="collapseExample1">
                   Laptop<span class="mr-3"></span>
                </a>
                <div class="collapse" id="collapseExample1">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>


        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img id="myImg" style=" width: auto; height: 400px; object-fit: cover;" class="card-img-top img-fluid" src="<%= post.image %>" alt="<%= post.title %>">
            <%- include('../includes/image-modal.ejs') %>

            <div class="card-body">
              <h3 class="card-title"><%= post.title %><span class="badge badge-dark " style="font-size: 14px; margin-left: 4px;"><%= post.category %></span> </h3>
              <h4><span class="badge badge-pill  badge-warning " style="font-size: 17px;"><%= post.price %> DZD </span><span style="font-size: 14px; margin-left: 8px; color: red;"><%= post.priceState %> </span></h4>
              <h6>Brand: <%= post.brand %> </h6>
              <h6>Condition: <%= post.Condition %> </h6>
              <hr>
              <p class="card-text"><%= post.description %> </p>
              <span style="font-weight: bold; display: block">City: <%= post.city %> </span>
              <span style="font-weight: bold; display: block">Phone: <%= post.phone %> </span>
              <span style="font-weight: bold; display: block">Email: <%= post.email %> </span>
               <% if (isAuth) { %>
              <form class="form-inline float-right" method="post" action="/admin/favourit">
                    <button type="submit" class="btn btn-outline-danger"><i class="fas fa-heart"></i></button>
                    <input name="postId" value="<%= post._id %>" type="hidden">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
              <% } else { %>
               <form class="form-inline float-right" method="get" action="/login">
                    <button type="submit" class="btn btn-outline-danger"><i class="fas fa-heart"></i></button>
                    <input name="postId" value="<%= post._id %>" type="hidden">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
              <% } %>

              <button type="submit" class="btn btn-warning"><i class="fas fa-envelope"></i> message</button>
              <!-- <button type="submit" class="btn btn-danger"><i class="far fa-flag"></i> report</button> -->
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                <i class="far fa-flag"></i> report</button>

              <div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">report</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/report" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="postId" value="<%= post._id %>">
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Message:</label>
                          <textarea name="reportMessage" class="form-control" id="message-text"></textarea>
                        </div>
                        <div class="modal-footer">
                         
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


            <div style="margin-top: 60px;">
              <form class="rating" action="/rating" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="postId" value="<%= post._id %>">
                <label>
                  <input type="radio" name="stars" value="1" />
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="2" />
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="3" />
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="4" />
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="5" />
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                
              </form>
                  <span class="text-muted" style="float:right">Added by <strong><%= post.userId.userName %></strong>  on <strong><%= post.date %></strong> </span>

            </div>
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Post Reviews
            </div>
            
            <div class="card-body ">
              <div class="comment">

                <% for(comm of post.comments) { %> 
                     <p><%= comm.comment %> </p>
                     <small  class="text-muted">Posted by <strong><%= comm.userId.userName %></strong>  on <strong><%= comm.date %></strong> </small>
                     <hr>
                 <% } %> 
              </div>
                <% if (isAuth) { %>
              <form id="create-form">
                
                <div class="form-group">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="postId" value="<%= post._id %>">
                  <textarea id="create-input" name="comment" class="form-control" rows="3"></textarea>
                </div>
                <button class="btn btn-success">Leave a Review</button>
              </form>
              <% } else { %>
                <div class="form-group">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="postId" value="<%= post._id %>">
                  <textarea id="create-input" name="comment" class="form-control" rows="3"></textarea>
                </div>
                <a href="/login" class="btn btn-success">Leave a Review</a>
              <% } %>
              
            
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
     <script src="/js/image-modal.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="/js/dd.js"></script>
           <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>