<%- include('../includes/head.ejs') %>
 <link rel="stylesheet" href="/css/image-modal.css" />
  </head>
          <body>
          <%- include('../includes/navigation.ejs') %>
             <div class="container" style="margin-bottom: 100px;">

      <div class="row">

      <div class="col-lg-3">

          <h1 class="my-4">Categories</h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item px-0">
                <a class="btn collapsed" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="true" aria-controls="collapseExample1">
                   Laptop<span class="mr-3"></span>
                </a>
                <div class="collapse" id="collapseExample1">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>


        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img id="myImg" class="card-img-top img-fluid" src="<%= post.image %>" alt="<%= post.title %>">
            <%- include('../includes/image-modal.ejs') %>

            <div class="card-body">
              <h3 class="card-title"><%= post.title %><span class="badge badge-dark " style="font-size: 14px; margin-left: 4px;"><%= post.category %></span> </h3>
              <h4><span class="badge badge-pill  badge-warning " style="font-size: 17px;"><%= post.price %> DZD </span><span style="font-size: 14px; margin-left: 8px; color: red;"><%= post.priceState %> </span></h4>
              <h6>Brand: <%= post.brand %> </h6>
              <h6>Condition: <%= post.Condition %> </h6>
              <hr>
              <p class="card-text"><%= post.description %> </p>
              <span style="font-weight: bold; display: block">City: <%= post.city %> </span>
              <span style="font-weight: bold; display: block">Phone: <%= post.phone %> </span>
              <span style="font-weight: bold; display: block">Email: <%= post.email %> </span>
              
              <form class="form-inline float-right" method="post" action="/admin/favourit">
                    <button type="submit" class="btn btn-outline-danger"><i class="fas fa-heart"></i></button>
                    <input name="postId" value="<%= post._id %>" type="hidden">
              </form>

            <div style="margin-top: 60px;">
                  <span class="text-warning">★ ★ ★ ★ ☆</span>
                  4.0 stars
                  <span class="text-muted" style="float:right">Added by... on <%= post.date %> </span>

            </div>
            </div>
          </div>
          <!-- /.card -->

          <!-- <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div> -->
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
     <script>
      // Get the modal
      var modal = document.getElementById('myModal');

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementById('myImg');
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");
      img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
      }

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none";
      }
    </script>
           <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>